@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
:root {
	--primary-color: #ffffff;
	--secondary-color: #4ec02a;
	--background: #f5f1e7;
	--text: #000000;
	--background-color: #ffffff;
}
