* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	min-height: 100%;
}
body {
	font-family: "Roboto", sans-serif;
	color: #111;
}

.bg-slide {
	position: fixed;
	inset: 0;
	z-index: -2;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: opacity 1.5s ease-in-out;
	opacity: 0;
}
.bg-slide::before {
	content: "";
	position: absolute;
	inset: 0;
	height: 400px;
	background: linear-gradient(
		to top,
		rgba(13, 13, 13, 0.65),
		rgba(0, 0, 0, 0.2),
		transparent
	);
}
.bg-slide.active {
	opacity: 1;
}
