* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  color: #111;
  background-image: url("../assets/achtergrond.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
